@page "/PIX-318"

@using DataAccesLib
@using DataAccesLib.Models
@using BlazorDateRangePicker;

@inject IRecipeData _db


<h1>Resept: PIX-318</h1>


<h5 class ="mx-5">&nbsp;&nbsp;&nbsp; Dato &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Antall Rader</h5>



 <TableSortComp rangeQuery="@UpdateDateRange"></TableSortComp>

<Tables filter="@filter"></Tables>

<CsvAndResetComponent TableRestart="@UpdateResetTable"></CsvAndResetComponent>

<FilterButtons FilterSort="@filter" FilterSortUpdate="@UpdateFilter"></FilterButtons>

}



@code {

    private int TableLen = Queries.TableLen;
    private int ParameterLen = 30;
    private List<RecipeModels> recipes;
    private RecipeModels RecipeEdit = new RecipeModels();
    public filtering[] filter = new filtering[30];
    public DataFormatter format = new DataFormatter();
    public List<List<string>> TableList = new List<List<string>>();


    Queries query = new Queries();




    protected override async Task OnInitializedAsync()
    {
        string sql = query.pix318();
        for(int i = 0; i < ParameterLen; i++)
        {
            filter[i] = new filtering();
            filter[i].variable = FilterModel.StringFilter[i];
        }

        //Make this part of initialization
        filter[5].sort = true;
        filter[9].sort = true;
        filter[18].sort = true;
        filter[19].sort = true;
        filter[20].sort = true;
        filter[21].sort = true;
        filter[22].sort = true;
        filter[24].sort = true;
        filter[25].sort = true;
        filter[26].sort = true;

    }

    public async void TableUpdate()
    {

        recipes = await _db.GetRecipes(Queries.sql);
        RecipeRead.Table = recipes;

        TableList = format.Pix318Model(recipes);
        RecipeRead.TableList = TableList;

        
        try
        {
            StateHasChanged();
        }
        catch
        {
            
        }

    }

    private void UpdateFilter(filtering[] _filter)
    {
        filter = _filter;
    }


    private void UpdateDateRange(string sql)
    {
        TableUpdate();
    }

    private void UpdateResetTable(string sql)
    {
        TableUpdate();
    }
}
